@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

@media print {
  body {
    background: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
